<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990957853629-n36dn68gmcjdp583ulkumhkaq4qo6r49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990957853629-n36dn68gmcjdp583ulkumhkaq4qo6r49</string>
	<key>API_KEY</key>
	<string>AIzaSyCPXw43qVg5iMmsZ53EsQmIx9UwOnsb3GA</string>
	<key>GCM_SENDER_ID</key>
	<string>990957853629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unicorn.UCL-E-Testing</string>
	<key>PROJECT_ID</key>
	<string>etesting-c80fb</string>
	<key>STORAGE_BUCKET</key>
	<string>etesting-c80fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:990957853629:ios:1fab235e1593c678</string>
	<key>DATABASE_URL</key>
	<string>https://etesting-c80fb.firebaseio.com</string>
</dict>
</plist>